<div>
  <div class="row">
    <div class="col-xl-12">
      <h2 class="page-header">
        Profile
      </h2>
      <ol class="breadcrumb">

        <li class="breadcrumb-item active">
          <i class="fa fa-fw fa-user"></i>Personal Information</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-6">
      <div class="card mb-3">
        <div class="card-header">
          User Profile
        </div>
        <div class="card-body">
          <div class="form-content">
            <div class="form-group">
              <label>First Name</label>
              <input readonly type="text" value='{{user.firstname}}' class="form-control input-underline input-lg">
            </div>
            <div class="form-group">
              <label>Last Name</label>
              <input readonly type="text" value='{{user.lastname}}' class="form-control input-underline input-lg">
            </div>
            <div class="form-group">
              <label>Address</label>
              <input readonly type="text" value='{{user.address}}'class="form-control input-underline input-lg">
            </div>
            <div class="form-group">
              <label>NRIC/Passport</label>
              <input readonly type="text" value='{{user.nric}}' class="form-control input-underline input-lg">
            </div>
            <div class="form-group">
              <label>Designation</label>
              <input readonly type="text" value='{{user.designation}}' class="form-control input-underline input-lg">
            </div>
            <div class="form-group">
              <label>Department</label>
              <input readonly type="text" value='{{user.department}}' class="form-control input-underline input-lg">
            </div>
            <div class="form-group">
              <label>Nationality/Region</label>
              <input readonly type="text" value='{{user.nationality}}' class="form-control input-underline input-lg">
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col col-sm-6">
      <div class="card mb-3">
        <div class="card-header">
          Approval
        </div>
        <div class="card-body">
          <div class="form-content">
            <div class="form-group">
              <label>Level 1 Approval</label>
              <input readonly type="text" value='{{user.level1app}}' class="form-control input-underline input-lg">
            </div>
            <div class="form-group">
              <label>Level 1 Notify 1</label>
              <input readonly type="text" class="form-control input-underline input-lg">
            </div>
            <div class="form-group">
              <label>Level 1 Notify 2</label>
              <input readonly type="email" class="form-control input-underline input-lg">
            </div>
            <div class="form-group">
              <label>Level 2 Approval</label>
              <input readonly type="text" value='{{user.level2app}}' class="form-control input-underline input-lg">
            </div>
            <div class="form-group">
              <label>Level 2 Notify 1</label>
              <input readonly type="text" class="form-control input-underline input-lg">
            </div>
            <div class="form-group">
              <label>Level 2 Notify 2</label>
              <input readonly type="text"  class="form-control input-underline input-lg">
            </div>
          </div>
          <label>Group</label>
          <input readonly type="text" value='{{user.group}}' class="form-control input-underline input-lg">
         
        </div>

      </div>
    </div>
  </div>
  <div class="col col-sm-12">
      <div class="card mb-3">
        <div class="card-header">
          Summary of Leave
        </div>
        <div class="card-body">
          <div class="form-content">
            <div class="form-group">
              <label>Leave Entitlement for Year</label>
              <input readonly type="text" value='{{user.leaveperyear}}' class="form-control input-underline input-lg">
            </div>
            <div class="form-group">
              <label>Leave Taken</label>
              <input readonly type="text" class="form-control input-underline input-lg">
            </div>
            <div class="form-group">
              <label>Cancel</label>
              <input readonly type="email" class="form-control input-underline input-lg">
            </div>
            <div class="form-group">
              <label>Leave Approve</label>
              <input readonly type="text" class="form-control input-underline input-lg">
            </div>
            <div class="form-group">
              <label>Balance</label>
              <input readonly type="text" class="form-control input-underline input-lg">
            </div>
          </div>
        </div>
      </div>
    </div>

</div>