<div>
  <div class="row">
    <div class="col-xl-12">
      <h2 class="page-header">
        Leave Form
      </h2>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">
          <i class="fa fa-fw fa-user"></i>Leave Information</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-4">
      <div class="card mb-3">
        <div class="card-body">
          <div class="form-content">
            <div class="form-group">
              <label>First Name</label>
              <input type="text" class="form-control input-underline input-lg">
            </div>
            <div class="form-group">
              <label>Last Name</label>
              <input type="text" class="form-control input-underline input-lg">
            </div>
            <div class="form-group">
              <label>Start Date</label><br>
                <input type="date" placeholder="Choose a date">
            </div>
            <div class="form-group">
              <label>End Date</label><br>
              <input type="date" placeholder="Choose a date">
            </div>
            <div class="form-group">
              <label>Total Number Day/s</label>
              <input type="text" class="form-control input-underline input-lg">
            </div>
            <div class="form-group">
              <label>Type of Leave</label>
              <form action="/action_page.php">
                <select name="typeofleave">
                  <option value="al">Annual Leave</option>
                  <option value="el">Emergency Leave</option>
                  <option value="ul">Unpaid Leave</option>
                  <option value="rl">Replacement Leave(PH)</option>
                  <option value="ml">Medical Leave</option>
                  <option value="mc">Marriage/Compassionate Leave</option>
                  <option value="oth">Others</option>
                </select>
              </form>
            </div>
            <div class="form-group">
              <label>Remarks</label>
              <input type="text" class="form-control input-underline input-lg">
            </div>
            <div class="form-group">
              <label>Approve</label>
              <input type="text" class="form-control input-underline input-lg">
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col col-sm-4">
      <div class="card mb-3">
        <div class="card-body">
          <div class="form-content">
            <div class="form-group">
              <label>Leave Entitled for Current Years</label>
              <input type="text" class="form-control input-underline input-lg">
            </div>
            <div class="form-group">
              <label>Bring Forward</label>
              <input type="text" class="form-control input-underline input-lg">
            </div>
            <div class="form-group">
              <label>Taken</label>
              <input type="text" class="form-control input-underline input-lg">
            </div>
            <div class="form-group">
              <label>Balance</label>
              <input type="text" class="form-control input-underline input-lg">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-sm-4">
      <div class="card mb-3">
        <div class="card-header">
          For Management use
        </div>
        <div class="card-body">
          <div class="form-content">
            <div class="form-group">
              <label>Approve by</label>
              <input readonly type="text" class="form-control input-underline input-lg">
            </div>
            <div class="form-group">
              <label>Level 1 Approval Date</label>
              <input readonly type="text" class="form-control input-underline input-lg">
            </div>
            <div class="form-group">
              <label>Level 1 Approve</label>
              <input readonly type="text" class="form-control input-underline input-lg">
            </div>
            <div class="form-group">
              <label>Level 2 Approval Date</label>
              <input readonly type="text" class="form-control input-underline input-lg">
            </div>
            <div class="form-group">
              <label>Level 2 Approve</label>
              <input readonly type="text" class="form-control input-underline input-lg">
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-info btn-sm" (click)="updateUser()">Update</button>
        </div>
      </div>
    </div>
  </div>
  <form>
    <button [routerLink]="['/leave/leavelist']" class="button">Cancel</button>
    <button [routerLink]="['']" class="button">Reject</button>
    <button [routerLink]="['']" class="button">Approve</button>
    <button [routerLink]="['']" class="button">Submit</button>
  </form>
</div>